/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* COMMON */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.login {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: yellowgreen;
    border-radius: 5px;
}
/* HEADER */
.header {
    height: 550px;
    background-color: #0c325a;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-position-y: 110%;
}

/* nav */
.col {
    float: left;
}
.logo {
    width: 10%;
}
.menu-container {
    width: 1024px;
    margin: 0 auto;
    font-size: 11px;
    padding: 20px 0;
}

.menu-left {
    width: 47%;
    margin-left: 40px;
}
.menu-ul {
    list-style-type: none;
}

.menu-ul li {
    display: inline-block;
    line-height: 46px;
}

.menu-ul .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;  
}
.menu-right {
    width: 39%;
    text-align: right;
}
