/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    /* display: block; */
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* COMMON */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.button {
    padding: 10px 20px;
    background-color: #7cbb02;
    border-radius: 5px;
}
/* HEADER */
.header {
    height: 550px;
    background-color: #0c325a;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-position-y: 110%;
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

/* nav */
.col {
    float: left;
}
.logo {
    width: 10%;
}
.menu-container {
    width: 100%;    
    font-size: 12px;
    padding: 20px 0;
}

.menu-ul {
    list-style-type: none;
}

.menu-ul li {
    display: inline-block;
    line-height: 54px;
} 

.menu-ul .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

.menu-left {
    width: 47%;
    margin-left: 40px;
}

.menu-right {
    width: 39%;
    text-align: right;
}

.login {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}
/* end nav */

/* teaser */
.teaser {
    width: 51%;
    color: white;
    font-size: 25px;
    margin-top: 125px;
}

/* sovrascrivo .button siccome questo è leggermente diverso  */
.teaser-button {
    display: block;
    width: fit-content;
    margin-top: 30px;
    padding: 20px 30px;

    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* end teaser */
/* END HEADER */

/* MAIN */
/* gray banner */

.gray-banner {
    text-align: center;
    background-color: #d3d3d3;
}

.gray-banner-text {
    padding: 40px 0;
}

.gray-banner-text h3 {
    font-size: 23px;
    margin-bottom: 10px;
}

.gray-banner-text p {
    font-size: 18px;
    color: #696969;
}

/* first section */
    .main-section-container {
        width: 100%;
    }
    .section-container {
        margin: 0 auto;
        width: 90%;
        height: 50%;
    }

/* END MAIN */